<!DOCTYPE html>
<html>
<head>
    <title>TickerFlask</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Darkly Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap-darkly5.3.0.min.css') }}" rel="stylesheet">

</head>
<body>
    <div class="container mt-5">
        <h1>TickerFlask</h1>

        <div id="get_latest_price_form" class="mt-4">
            <h2>Get Latest Price</h2>
            <form>


                <fieldset class="form-group">
                    <label for="symbol">Symbol:</label>
                    <input type="text" class="form-control" style="background-color: rgba(0, 0, 0, 0.25) ; color: #fff;"  id="symbol" name="symbol" value="">
                </fieldset>

                <fieldset class="form-group">
                    <label for="period">Period:</label>
                    <input type="text" class="form-control" style="background-color: rgba(0, 0, 0, 0.25) ; color: #fff;"  id="period" name="period" value="">
                </fieldset>

                <fieldset class="form-group">
                    <label for="interval">Interval:</label>
                    <input type="text" class="form-control" style="background-color: rgba(0, 0, 0, 0.25) ; color: #fff;"  id="interval" name="interval" value="">
                </fieldset>
                
                <fieldset class="form-group">
                    <input class="btn btn-secondary form-control" type="submit" value="Submit">
                </fieldset>

            </form>
            <div id="latest_price_result"></div>
        </div>

        <div id="get_price_spread_form" class="mt-4">
            <h2>Get Price Spread</h2>
            <form>
                <label for="symbol_spread">Symbol:</label>
                <input type="text" class="form-control" style="background-color: rgba(0, 0, 0, 0.25) ; color: #fff;"  id="symbol_spread" name="symbol_spread" value="">
                <label for="period_spread">Period:</label>
                <input type="text" class="form-control" style="background-color: rgba(0, 0, 0, 0.25) ; color: #fff;"  id="period_spread" name="period_spread" value="">
                <label for="interval_spread">Interval:</label>
                <input type="text" class="form-control" style="background-color: rgba(0, 0, 0, 0.25) ; color: #fff;"  id="interval_spread" name="interval_spread" value="">
                <input class="btn btn-secondary form-control" type="submit" value="Submit">
            </form>
            <div id="price_spread_result"></div>
        </div>
    </div>


    <!-- Jquery -->
    <script src="{{ url_for('static', filename='jquery-3.7.0.min.js') }}"></script>

    <!-- Jquery UI -->
    <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ url_for ('static', filename='main.js')}}"></script>

</body>
</html>
